<div style="background-color:#3c3d41;padding:30px;border-radius:5px">

<h1 style="font-size:22px;color:white;margin-top:0px">
How to create a list of numbers in python ?
</h1>

<p style="font-size:14px;color:white">
Author: Benjamin H.G Marchant<br>
License: CC BY 4.0
</p>
    
</div>

Source: [moonbooks.org](https://en.moonbooks.org/Articles/How-to-create-a-list-of-numbers-in-python-/)

In this jupyter notebook, we will explore various ways to create a list of numbers in Python. This skill is particularly useful for numerous applications, such as generating synthetic data or creating visualizations where specifying a range of values is often necessary.

<h2 style="color:green">
Creating a list of integers
</h2>

To create a list of integers, one solution is to use Python's built-in range() function.

### Creating a list of integers from 0 to n

To create a list of integers between 0 and n, you can use a list comprehension with the range() function:

In [19]:
n = 9

[i for i in range(n+1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Another solution is to use the list() function, which directly converts range() into a list

In [20]:
list(range(n+1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Creating a list of even numbers 

To create a list of even numbers, you can simply add a condition that the number must be divisible by 2 using an if condition:

In [21]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

### Creating a list of odd numbers 

Similarly, if you want to create a list of odd numbers, you can add a condition that the number must not be divisible by 2:

In [22]:
[i for i in range(10) if i%2 != 0]

[1, 3, 5, 7, 9]

### Creating a list of integers from m to n

So far, our list started at 0, but by using range(), it is possible to define both lower and upper boundaries:

In [23]:
m = 1
n = 9

[i for i in range(m,n+1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Creating a list from -10 to 10

In [24]:
[i for i in range(-10,11)]

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Using list():

In [25]:
list(range(-10,11))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Creating a list of integers using multiple conditions

Creating a list of integers using multiple conditions typically involves using a list comprehension with conditions that filter elements based on specified criteria. Here's a generic example:

In [26]:
[x for x in range(-10,11) if x > 5 and x < 20]

[6, 7, 8, 9, 10]

### Creating a list of integers using a function

To create a list of integers using a function, you can directly define the function within the list comprehension, especially when the function is straightforward.

In [27]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

or defining a function separately:

In [28]:
def square(x):
    return x**2

[square(x) for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<h2 style="color:green">
Creating a list of floats
</h2>

To create a list of floats, our approach will vary based on whether we prioritize the interval between values or the total number of values within a range.

### Creating a list of floats using arange

For example, to create a list of floats between 2 and 8 with a step of 0.5, we can utilize the NumPy function arange:

In [29]:
import numpy as np

i_start = 2
i_end = 8
step = 0.5

[i for i in np.arange(i_start,i_end,step)]

[2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5]

Using list() function:

In [30]:
list(np.arange(i_start,i_end,step))

[2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5]

### Creating a list of floats using a linspace

To create a list of n floats between two values, a solution is to use the NumPy function linspac:

In [31]:
i_start = 12
i_end = 16

count = 8

[i for i in np.linspace(i_start,i_end,count)]

[12.0,
 12.571428571428571,
 13.142857142857142,
 13.714285714285714,
 14.285714285714285,
 14.857142857142858,
 15.428571428571429,
 16.0]

Using list() function:

In [32]:
list(np.linspace(i_start,i_end,count))

[12.0,
 12.571428571428571,
 13.142857142857142,
 13.714285714285714,
 14.285714285714285,
 14.857142857142858,
 15.428571428571429,
 16.0]

<h2 style="color:green">
Create a list of random numbers
</h2>

To create a list of random numbers in Python, there are several approaches available. For creating for example a list of random integers, one simple method is to use the randint function from Python's random module.

In [33]:
import random

[random.randint(0,1) for i in range(10)]

[1, 0, 0, 1, 0, 0, 0, 1, 1, 1]

Another solution is to use the sample function from the random module:

In [34]:
random.sample(range(1,100),10)

[28, 43, 85, 77, 89, 47, 24, 35, 20, 58]

<h2 style="color:green">
Creating a list of integers representing the days of a specific month
</h2>

Another very useful tool is the ability to automatically create a list of integers representing the days of a specific month. This can be achieved using monthrange from the Python module calendar:

In [35]:
from calendar import monthrange

For example, if you're considering a typical leap year

In [36]:
year = 2008
month = 2

and you want to get the number of days for February, you can do:

In [37]:
monthrange(year,month)[1]

29

To create a list of days, you can then combine range with a list comprehension:

In [38]:
[day for day in range(1,monthrange(year,month)[1]+1)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]